.contact {
    background-color: #101010;
    padding-top: 115px;
}

.contact-form {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

.contact-form-title {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 1rem;
}