.job-preview {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
}

.job-preview iframe{
    width: 100%;
    aspect-ratio: 16/9;
}

.job-video-container {
    width: 100%;
}

.job-image-container {
    width: 100%;
}

.job-image-preview, .job-video-preview {
    width: 100%;
}

.job-preview-title {
    color: #ff6a2f;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.job-preview-title-deactiated {
    display: none;
}

.job-preview-text {
    margin-bottom: 2rem;
}

.job-preview-text a {
    color: white;
}

.job-preview-text a:hover {
    color: #ff6a2f;
}

.job-preview-text-deactivated {
    display: none;
}